<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Fill out the Mad Lib!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in your name, verbs, adjective, and nouns!</h1>
    <form action="/postcard" method="post">
     <label for="name">Your Name:</label>
     <input id="name" name="name" type="text"> <br>
     <label for="verb1">First Verb:</label>
     <input id="verb1" name="verb1" type="text"> <br>
     <label for="verb2">Second Verb:</label>
     <input id="verb2" name="verb2" type="text"> <br>
     <label for="verb3">Third Verb:</label>
     <input id="verb3" name="verb3" type="text"> <br>
     <label for="noun1">First Noun:</label>
     <input id="noun1" name="noun1" type="text"> <br>
     <label for="noun2">Second Noun:</label>
     <input id="noun2" name="noun2" type="text"> <br>
     <label for="noun3">Third Noun:</label>
     <input id="noun3" name="noun3" type="text"> <br>
     <label for="adj1">First Adjective:</label>
     <input id="adj1" name="adj1" type="text"> <br>
     <label for="adj2">Second Adjective:</label>
     <input id="adj2" name="adj2" type="text"> <br>
     <label for="adj3">Third Adjective:</label>
     <input id="adj3" name="adj3" type="text"> <br>
     <button type="submit">Go!</button>
    </form>
  </body>
</html>